build/
.idea
*.a
*.so
*.out
# .vscode
log/
bin
install/
cmake-build-debug/
ros/.vscode/browse.vc.db
ros/src/lqr_steering/.vscode/browse.vc.db
ros/devel/
reading/
paper/
rust/
*.nb
referenceLine*
c++_test/