build/
*.a
*.so
*.out
log/
install/
cmake-build-debug/
.idea/
ros/.vscode/browse.vc.db
ros/src/lqr_steering/.vscode/browse.vc.db
apollo_task/
reading/
leetcode/
.vscode
bin
log
*.nb
referenceLine*
c++_test
Mathematica