<?xml version='1.0' encoding='UTF-8'?>
<launch>
  <arg name="robot_name"/>
  <arg name="config_file"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find car_model)/config/$(arg config_file)" command="load"/>

  <!-- load controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/$(arg robot_name)" args="joint_state_controller rear_right_velocity_controller rear_left_velocity_controller front_right_steering_position_controller front_left_steering_position_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="true" output="screen">
      <remap from="/joint_states" to="/$(arg robot_name)/joint_states" />
  </node>

  <node name="cmdvel2gazebo" pkg="car_model" type="cmdvel2gazebo.py" respawn="true" output="screen"/>

  <node name="vehicle_pose_and_velocity_updater" pkg="car_model" type="vehicle_pose_and_velocity_updater.py" respawn="true" output="screen"/>

  <node name="transform_publisher" pkg="car_model" type="transform_publisher.py" respawn="true" output="screen"/>

</launch>
