<?xml version="1.0" encoding="UTF-8"?>

<launch>
	
	<arg name="x" default="0.0"/>
	<arg name="y" default="0.0"/>
	<arg name="z" default="0.0"/>

	<arg name="urdf_robot_file" default=""/>
	<arg name="robot_name" default=""/>

	<!-- <param name="robot_description" command="$(arg urdf_robot_file)"/> -->
	<param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_robot_file)' roboname:='smart'" />

	<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg robot_name) -param robot_description"/>

</launch>
