<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- 此处为启动gazebo时需要设置的参数，一般无需修改 -->
	<!-- <arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/> -->

	<!-- 在Gazebo中创建一个新的world，并使用上述参数进行设置，一般无需修改 -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- <arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/> -->
	</include>

	<!-- 导入urdf文件，第一个参数修改为功能包名，第二个参数修改为urdf文件的路径 -->
	<!-- <param name="robot_description" command="cat '$(find car_model)/urdf/smart.xacro'" /> -->

	<include file="$(find car_model)/launch/spawn_xacro.launch">
		<arg name="x" value="0.0"/>
		<arg name="y" value="0.0"/>
		<arg name="z" value="0.0"/>
		<arg name="urdf_robot_file" value="$(find car_model)/urdf/smart.xacro"/>
		<arg name="robot_name" value="smart"/>
	</include>

	<include file="$(find car_model)/launch/control.launch">
		<arg name="robot_name" value="smart"/>
		<arg name="config_file" value="smart_control_config.yaml"/>
	</include>

	<!-- 导入spawn_urdf节点，使Gazebo能够识别urdf文件。需要修改的参数为功能包的路径 -->
	<!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param /robot_description -urdf -model robot" /> -->

	<!-- 	
	<include file="$(find waypoint_loader)/launch/waypoint_loader.launch"/>
	<include file="$(find waypoint_updater)/launch/waypoint_updater.launch"/> -->

</launch>
